@{
    ViewData["Title"] = "Contact Us";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">@ViewData["Title"]</h2>
                    <div class="text-center mb-4">
                        <p class="lead">Meet our amazing team members who made this project possible:</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Ahmed Shiref</h5>
                                    <p class="card-text">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">George Waleed</h5>
                                    <p class="card-text">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Abdelnasser Hamed</h5>
                                    <p class="card-text">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Yasmine Salah</h5>
                                    <p class="card-text">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 mx-auto">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Farah Yasser</h5>
                                    <p class="card-text">Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 